{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'board/css/styles.css' %}">
    <script>
        function open_pair(pair_id) {
          window.location = `/admin/core/pair/${pair_id}/change/`;
        }
    </script>
{% endblock %}

{% block content %}

    <div class="p-2 text-center bg-light">
        <h1>Board</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col"></th>
                    {% for letter in letters %}
                        <th scope="col">{{ letter.upper }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
            {% for first, first_data in pairs.items %}
            <tr>
                <th scope="row">{{ first.upper }}</th>
                {% for second, pair in first_data.items %}
                    {% if pair.best == None %}
                        <td ondblclick="open_pair({{ pair.id }});" data-toggle="tooltip" title="---" style="background: lightpink">{{ first.upper }}{{ second.upper }}</td>
                    {% elif pair.best.description == None %}
                        <td ondblclick="open_pair({{ pair.id }});" data-toggle="tooltip" title="{{ pair.best }}">{{ first.upper }}{{ second.upper }}</td>
                    {% else %}
                        <td ondblclick="open_pair({{ pair.id }});" data-toggle="tooltip" title="{{ pair.best }} ({{ pair.best.description }})">{{ first.upper }}{{ second.upper }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>

    <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>

{% endblock %}
