{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'board/css/styles.css' %}">
{% endblock %}

{% block content %}

    <div class="p-2 text-center bg-light">
        <h1>Board</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col"></th>
                    {% for letter in letters %}
                        <th style="background-color: {{ letter.face.color.rgb }}" scope="col">{{ letter.char.upper }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
            {% for first, first_data in pairs.items %}
            <tr>
                <th scope="row" style="background-color: {{ first.face.color.rgb }}">{{ first.char.upper }}</th>
                {% for second, pair in first_data.items %}
                    {% if pair.best == None %}
                        <td ondblclick="openPair({{ pair.id }}, false);" data-toggle="tooltip" title="---" style="background: lightpink">{{ first.char.upper }}{{ second.char.upper }}</td>
                    {% elif pair.best.description == None %}
                        <td ondblclick="openPair({{ pair.id }}, false);" data-toggle="tooltip" title="{{ pair.best }}">{{ first.char.upper }}{{ second.char.upper }}</td>
                    {% else %}
                        <td ondblclick="openPair({{ pair.id }}, false);" data-toggle="tooltip" title="{{ pair.best }} ({{ pair.best.description }})">{{ first.char.upper }}{{ second.char.upper }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>

    <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>

{% endblock %}
