{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'random_cards/styles.css' %}">
    <script src="{% static 'random_cards/script.js' %}" defer></script>
{% endblock %}

{% block content %}

    <div class="pt-2 pb-2 text-center bg-light">
        <h1>Random Cards</h1>
        <div class="p-3">
            <form onsubmit="generate(); return false;">
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">From letter</label>
                            <select id="select-from" class="form-control" id="exampleFormControlSelect1">
                                {% for letter in letters %}
                                    <option value="{{ letter.lower }}">{{ letter }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">To letter</label>
                            <select id="select-to" class="form-control" id="exampleFormControlSelect1">
                                {% for letter in letters %}
                                    <option value="{{ letter.lower }}">{{ letter }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <button class="btn btn-dark w-100">Generate</button>
                </div>
            </form>
        </div>
    </div>

    <div class="container-fluid col-sm-12">
        <div class="row">
            {% for pair in pairs %}
                <div class="col-lg-2 col-md-3 col-sm-6 p-2">
                    <div onclick="revealPair({{ pair.id }})"
                         ondblclick="openPair({{ pair.id }}, true)"
                         id="pair-{{ pair.id }}"
                         class="pair card pt-3 pb-3 w-100 bg-dark text-white text-center">
                        <h5 class="card-title m-0">{{ pair.both.upper }}</h5>
                        <p class="word m-0" style="">{{ pair.best.word }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
