{% extends 'base.html' %}
{% load static %}

{% block title %}Tables{% endblock %}

{% block content %}

    <div class="p-2 text-center bg-light mb-5">
        <h1>Tables</h1>
    </div>

    {% for face in faces %}
        <div class="text-center mb-0 mt-0 p-2" style="background-color: {{ face.color.rgb }}">
            <h2>{{ face.get_position_display }} ({{ face.color.name }})</h2>
        </div>

        <table class="table table-hover mb-0 mt-0">
            <thead>
            <tr style="background-color: {{ face.color.rgb }}">
                <th scope="col">#</th>
                {% for letter in face.letters.all %}
                    <th scope="col">{{ letter|upper }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in face.zipped %}
                <tr>
                    <th style="background-color: {{ row.0.second.face.color.rgb }}">{{ row.0.second|upper }}</th>
                    {% for pair in row %}
                        <td style="cursor: pointer" ondblclick="openPair({{ pair.id }}, false)" data-toggle="tooltip" title="{{ pair.tables_tooltip }}">
                            <span style="font-family: monospace; font-size: 16pt;">
                                <span style="border-radius: 10px 0 0 10px; background-color: {{ pair.first.face.color.rgb }}">&nbsp;{{ pair.first|upper }}</span><span style="border-radius: 0 10px 10px 0; background-color: {{ pair.second.face.color.rgb }}">{{ pair.second|upper }}&nbsp;</span>
                            </span>
                            <br class="d-block d-lg-none" />
                            {{ pair.best.word }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}

    <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>

{% endblock %}
