.pair {
    cursor: pointer;
}

.pair .word {
    visibility: hidden;
}

.pair.revealed .word {
    visibility: visible;
}

.square {
    display: inline-block;
    color: rgba(0, 0, 0, 0);
    width: 1.7em;
    height: 1.7em;
    margin-left: 0;
    margin-right: 0;
}