<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'lobby:index' %}">Darkness</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{% url 'admin:index' %}">🛠️ Admin</a>
          <a class="nav-item nav-link" href="{% url 'board:index' %}">📋 Board</a>
          <a class="nav-item nav-link" href="{% url 'tables:index' %}">📊 Tables</a>
          <a class="nav-item nav-link" href="{% url 'words:index' %}">📝 Words</a>
          <a class="nav-item nav-link" href="{% url 'letters:index' %}">🔤 Letters</a>
          <a class="nav-item nav-link" href="{% url 'stories:index' %}">📚 Stories</a>
          <a class="nav-item nav-link" href="{% url 'search:index' %}">🔍 Search</a>
          <a class="nav-item nav-link" href="{% url 'faces:index' %}">😀 Faces</a>
          <a class="nav-item nav-link" href="{% url 'cards:generate_pdf' %}" target="_blank">🃏 Cards</a>
        </div>
      </div>
    </nav>
</header>
