{% extends 'base.html' %}
{% load static %}

{% block title %}Stories{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'stories/styles.css' %}">
    <script src="{% static 'stories/script.js' %}" defer></script>
{% endblock %}

{% block content %}

    <div class="pt-2 pb-2 text-center bg-light">
        <h1>Stories</h1>
        <div class="p-3">
            <form onsubmit="generate(); return false;">
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label>From letter</label>
                            <select id="select-from" class="form-control">
                                {% for letter in letters %}
                                    <option value="{{ letter.char.lower }}">{{ letter|upper }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>To letter</label>
                            <select id="select-to" class="form-control">
                                {% for letter in letters %}
                                    <option value="{{ letter.char.lower }}">{{ letter|upper }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Length</label>
                            <select id="select-length" class="form-control">
                                {% for length in lengths %}
                                    <option value="{{ length }}">{{ length }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Reveal</label>
                            <select id="select-reveal" class="form-control">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <button class="btn btn-dark w-100">Generate</button>
                </div>
            </form>
        </div>
    </div>

    <div class="container-fluid col-sm-12" style="font-family: monospace">
        {% for story in stories %}
            <div class="story">
                <div class="text-center">
                    <h5>Story {{ forloop.counter }}</h5>
                </div>
                <div class="text-center">
                    {% for pair in story %}
                        {% if reveal %}
                            <span class="pair" data-toggle="tooltip" title="{{ pair.both|upper }}">{{ pair.best.word }}</span>
                        {% else %}
                            <span class="pair" data-toggle="tooltip" title="{{ pair.best.word }}">{{ pair.both|upper }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>

{% endblock %}
