{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}

    <div class="text-center" style="padding-bottom: 200px; padding-top: 200px">
        <h1 class="mb-3">Darkness</h1>
        <a class="btn btn-dark mb-1" href="{% url 'admin:index' %}" role="button">🛠️ Admin</a>
        <a class="btn btn-dark mb-1" href="{% url 'board:index' %}" role="button">📋 Board</a>
        <a class="btn btn-dark mb-1" href="{% url 'tables:index' %}" role="button">📊 Tables</a>
        <a class="btn btn-dark mb-1" href="{% url 'words:index' %}" role="button">📝 Words</a>
        <a class="btn btn-dark mb-1" href="{% url 'letters:index' %}" role="button">🔤 Letters</a>
        <a class="btn btn-dark mb-1" href="{% url 'stories:index' %}" role="button">📚 Stories</a>
        <a class="btn btn-dark mb-1" href="{% url 'search:index' %}" role="button">🔍 Search</a>
        <a class="btn btn-dark mb-1" href="{% url 'faces:index' %}" role="button">😀 Faces</a>
    </div>

{% endblock %}
